{% load static %}
<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome-all.min.css' %}">
</head>
<body style="margin-top: 5em">
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
		<div class="container-fluid">
		 	<a class="navbar-brand" href="{% url 'index' %}">
		    	<img src="{% static 'img/photo.jpg' %}" width="30" height="30" alt="">
		    	SosiAll
		 	</a>
		 	

		 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		 	</button>
		 	<div class="collapse navbar-collapse" id="navbarNavDropdown">
			    <ul class="navbar-nav ml-auto">
			     	<li class="nav-item active">
				      	<form class="form-inline" action="{% url 'search' %}" method="GET">
						    <div class="input-group mb-6">
							  <input type="text" class="form-control" name="word" placeholder="Procure pessoas ou coisas"  aria-describedby="basic-addon2" required="">
							  <div class="input-group-append">
							    <button class="btn btn-outline-secondary" type="submit">Prourar</button>
							  </div>
							</div>
					 	</form>
			     	</li>
			     	<li class="nav-item">
			        	<a class="nav-link" href="#"><img src="{% static 'img/photo.jpg' %}" width="30" height="30" alt=""></a>
			     	</li>
			     	<li class="nav-item">
			        	<a class="nav-link" href="{% url 'exibir' perfil_logado.id %}">{{perfil_logado.nome}}</a>
			     	</li>
			     	<li class="nav-item">
			        	<a class="nav-link" href="/logout/">Sair</a>
			     	</li>
			     	<li class="nav-item">
			        	<a class="nav-link" href="{% url 'change_password' %}">Mudar Senha</a>
			     	</li>
			    </ul>
		  	</div>
		</div>  
	</nav>
	<div class="container">
		<!--div class="header">

    	</div-->
    	<div class="container">
    		<div class="row">
    			<div class="col-md-3">
    				<div class="panel panel-default">
			            {% with total=perfil_logado.contatos.count %}
			                {% if total %}
			                    <div class="panel-heading">
			                        <strong>Você tem  {{ total }}
			                            Contato{{ total|pluralize }}
			                        </strong>
			                    </div>
			                    <ul class="list-group">
			                        {% for perfil in perfil_logado.contatos.all %}
			                            <li class="list-group-item">
			                                <a href="{% url 'exibir' perfil.id %}">
			                                    {{ perfil }}
			                                </a>
			                                <a class="pull-right" href="{% url 'desfazer' perfil.id %}" onclick="return confirm('Deseja mesmo  desfazer amizade com {{perfil.nome}}?')">
			                                    Desfazer Amizade
			                                </a>
			                            </li>
			                        {% endfor %}
			                    </ul>
			                {% else %}
			                    <div class="panel-body">
			                        Não há Contatos! :(
			                    </div>
			                {% endif %}
			            {% endwith %}
			        </div>
    				
    			</div>
    			<div class="col-md-6">
    				{% block body %}
        			{% endblock %}
    			</div>
    			<div class="col-md-3">
    				<div class="panel panel-default">
			            {% with total=perfil_logado.convites_recebidos.count %}
			                {% if total %}
			                    <div class="panel-heading">
			                        <strong> {{ total }}
			                            Convite{{ total|pluralize }} aguardando Aprovação</strong>
			                    </div>
			                    <ul class="list-group">
			                        {% for convite in perfil_logado.convites_recebidos.all %}
			                            <li class="list-group-item">
			                                <ul class="list-inline">
			                                    <li class="list-inline-item">
			                                        <a href="{% url 'exibir' convite.solicitante.id %}">
			                                            {{ convite.solicitante.nome }}
			                                        </a>
			                                    </li>
			                                    <li class="list-inline-item pull-right">
			                                        <a href="{% url 'recusar' convite.id %}">Recusar</a>
			                                    </li>
			                                    <li class="list-inline-item pull-right">
			                                        <a href="{% url 'aceitar' convite.id %}">Aceitar</a>
			                                    </li>
			                                </ul>
			                            </li>
			                        {% endfor %}
			                    </ul>
			                {% else %}
			                    <div class="panel-body">
			                        Não há Convites
			                    </div>
			                {% endif %}
			            {% endwith %}
			        </div>
			        {% if perfil_logado.usuario.is_superuser %}
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <strong>Todos os Perfis</strong>
			            </div>
			            {% if perfis %}
			                <ul class="list-group">
			                {% for perfil in perfis %}
			                    <li class="list-group-item">
			                        <a href="{% url 'exibir' perfil.id %}">{{ perfil.nome }}</a>
			                        {% if perfil.bloqueado%}
			                            <p>bloqueado.</p>
			                        {% endif %}
			                    </li>
			                {% endfor %}
			            {% else %}
			                <p>Não há Perfis Cadastrados!</p>
			            {% endif %}
			            </ul>
			        </div>
    				{% endif %}
    			</div>
    		</div>
    	</div>
    	<div class="footer">
    		<div class="col-xs-12 text-center">
		      <p>&copy; ConnectedIn.</p>
		    </div>
    	</div>

		
	</div>
	<script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>