{% extends 'perfis/base_b.html' %}
{% block body %}
        <!--form action="{% url 'add' perfil_logado.id %}" method="POST">
            {% csrf_token %}
                {{ form }}

         <button class="btn btn-outline-secondary" type="submit">Postar</button>
        </form-->



        <div class="card gedf-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                                    a publication</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>
                            </li>
                        </ul>
                    </div>
                    <form action="{% url 'add' perfil_logado.id %}" method="POST">
                        {% csrf_token %}
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>
                                    <textarea class="form-control" id="message" name="postagem" rows="3" placeholder="What are you thinking?"></textarea>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload image</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">share</button>
                            </div>
                            <div class="btn-group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fa fa-globe"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                    <!--FUNCIONALIDADE EXTRA 01 (VISIBILIDADE DA POSTAGE.)  -->
                                    <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Todos os Perfis</strong>
            </div>
            {% if perfis %}
                <ul class="list-group">
                {% for perfil in perfis %}
                    <li class="list-group-item">
                        <a href="{% url 'exibir' perfil.id %}">    {{ perfil.nome }} / {{ perfil.email }}
                        </a>
                        {% if perfil.bloqueado%}
                            <p>bloqueado.</p>
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
                <p>Não há Perfis Cadastrados!</p>
            {% endif %}
            </ul>
        </div>

        

  
{% endblock %}