{% extends 'perfis/base_b.html' %}
{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% if perfil.bloqueado %}
        <div class="alert alert-danger" role="alert">
            <h3>Atenção!</h3>
            <p>{{perfil.error_mensage}}</p>
        </div>

        {% if perfil_logado.usuario.is_superuser %}
        <a href="{% url 'desbloquear' perfil.id %}">Desbloquear</a>
        {% endif %}
     
    {% elif perfil.ativa %}
        {% if perfil_logado == perfil %}
            <a href="{% url 'desativar' %}"> Desativar conta</a>
        {% endif %}
        <h2 style="margin-top: 0px">{{ perfil.nome }}</h2>
        <address>
            <a href="mailto:{{ perfil.email }}">{{ perfil.email }}</a>
            <br>
            <strong>{{ perfil.nome_empresa }}</strong>
        </address>

        {% if perfil in perfil_logado.contatos.all %}
                <strong>São Amigos</strong>
        {% endif %}
        {% if perfil_logado.convidavel %}
            <a href="{% url 'convidar' perfil.id %}">Convidar</a>
        {% elif perfil_logado != perfil %}
            {% if perfil_logado.convites_recebidos.count >= 1 or perfil_logado.convites_feitos.count >= 1 %}
                {% for convite in perfil_logado.convites_recebidos.all %}
                    {% if perfil == convite.solicitante %}
                        <strong><p>Convite de pendende</p></strong>
                        <a href="{% url 'aceitar' convite.id %}">Aceitar</a>
                         <a href="{% url 'recusar' convite.id %}">Recusar</a>
                    {% endif %}
                {% endfor %}

                {% for convite in perfil_logado.convites_feitos.all %}
                 {% if perfil == convite.convidado %}
                    <strong>Convite enviado.</strong>    
                {% endif %}
                {% endfor %}
            {% endif %}    
        {% endif %}
        {% if perfil.usuario.is_superuser == False and perfil_logado.usuario.is_superuser == True %}
            <a href="{% url 'promover' perfil.id %}">Promover a adm</a>
            <a href="{% url 'bloquear' perfil.id %}" onclick="return confirm('Deseja mesmo bloquear o usuario {{perfil.nome}}?')">Bloquear perfil</a>
        {% endif %}
    {% else %}
         <div class="alert alert-danger" role="alert">
                <h3>Atenção!</h3>
                <p>{{perfil.error_mensage}}</p>
        </div>
    {% endif %}  

    {% for post in perfil.postagens.all %}
         <!--Postagens-->
     

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">{{perfil.nome}}</div>
                                    <div class="h7 text-muted">{{perfil.nome_empresa}}</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header"></div>
                                        {% if post.user == perfil_logado %}
                                        <a class="dropdown-item" href="#">Editar</a>
                                        <a class="dropdown-item" href="{% url 'delete' post.id %}" onclick="return confirm('Deseja mesmo  apagar esta postagem?')">Apagar</a>
                                        {% else %}
                                        <a class="dropdown-item" href="#">Denunciar</a>
                                        <a class="dropdown-item" href="{% url 'delete' post.id %}">Não quero ver</a>
                                        <!--a class="dropdown-item" href="#">Report</a-->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <!--i class="fa fa-clock-o">CAroço</i-->{{post.created_at}}</div>
                        <!--a class="card-link" href="#">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adip.</h5>
                        </a-->

                        <p class="card-text">
                            {{post}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                </div>
                <hr>
    <!--Fim postagem-->
    {% endfor %}
{% endblock %}
